@import 'tailwindcss';

@theme {
	--color-background: #150910;
}

@layer base {
	body {
		@apply bg-background;
	}

	main {
		@apply flex w-full flex-col items-center p-4;
	}
}

@layer components {
	.clock-container {
		@apply w-full;
	}

	.clock {
		@apply flex gap-2;
	}

	.clock > .digit {
		@apply flex-1;
	}
}
