@import 'tailwindcss';

@theme {
	--color-background: #150910;
	--color-primary: color-mix(in srgb, var(--color-background), #fff);
	--font-mono: 'Sixtyfour Variable', monospace;
}

@layer base {
	body {
		@apply bg-background;
	}

	main {
		@apply flex w-full flex-col items-center p-4;
	}
}

@layer components {
	.clock-container {
		@apply flex w-full flex-col gap-2;
	}

	.clock {
		@apply flex gap-2;
	}

	.clock > .digit {
		@apply flex-1;
	}

	.version {
		@apply flex justify-center font-mono text-xl text-primary;
	}
}
